@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.app {
  text-align: center;
}

#fork {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

.header {
  background-color: darkslategray;
  height: 150px;
  color: #393939;
}



.logo {
  position: absolute;
  margin: auto;
  left: 100px;
  right: 0;
  top: -350px;
  bottom: 0;
  width: 100px;
  height: 100px;
  overflow: visible;
}

.out {
  stroke: SlateGrey;
  stroke-dasharray: 700, 700;
  stroke-dashoffset: 700;
  animation: out-anim 5s 1s infinite;
}

.in {
  fill:#222;
  stroke: chartreuse;
  stroke-dasharray: 700, 700;
  stroke-dashoffset: 700;
  animation: in-anim 5s 1s infinite;
  z-index: 5;
}

@keyframes out-anim {
  0% {
    fill: #393939;
  }
  50% {
    fill: green;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    fill: #393939;
  }
}

@keyframes in-anim {
  25% {
    stroke-dashoffset: 0;
  }
}



