@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.main {
    text-align: center;
    background: linear-gradient(
        to right,
        #87e0fd 0%,
        #318c66 42%,
        #5c048c 100%
    ); 
}

#fork {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.header {
    height: 170px;
}

.title {
    width: 80%;
    height: 2em;
    line-height: 2em;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    color: magenta;
    background: rgba(123, 32, 22, 0.2);
    margin: 0 auto;
}

.logo {
    position: absolute;
    margin: auto;
    left: 125px;
    right: 0;
    top: -590px;
    bottom: 0;
    width: 125px;
    height: 125px;
    overflow: visible;
}

.out {
    stroke: chartreuse;
    stroke-dasharray: 10, 300;
    stroke-dashoffset: 600;
    animation: out-anim 6s 1s infinite;
}

.in {
    fill: #369;
    stroke: red;
    stroke-dasharray: 20, 200;
    stroke-dashoffset: 200;
    animation: in-anim 3s 1s infinite;
    z-index: 5;
}

@keyframes out-anim {
    0% {
        fill: #393939;
    }
    50% {
        fill: black;
    }
    75% {
        stroke-dashoffset: 0;
    }
    100% {
        fill: #393939;
    }
}

@keyframes in-anim {
    0% {
        fill: darkorchid;
    }
    25% {
        fill: green;
    }
    50% {
        fill: green;
    }
    75% {
        stroke-dashoffset: 0;
        fill: green;
    }
    100% {
        fill: darkorchid;
    }
}
