@import url('https://fonts.googleapis.com/css?family=Comfortaa');

.app {
  text-align: center;
}

#fork {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}

.header {
  background: -moz-linear-gradient(left, #87e0fd 0%, #318c66 42%, #5c048c 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #87e0fd 0%,#318c66 42%,#5c048c 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #87e0fd 0%,#318c66 42%,#5c048c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#5c048c',GradientType=1 ); /* IE6-9 */
  height: 150px;
}

.logo {
  position: absolute;
  margin: auto;
  left: 100px;
  right: 0;
  top: -590px;
  bottom: 0;
  width: 100px;
  height: 100px;
  overflow: visible;
}

.out {
  stroke: SlateGrey;
  stroke-dasharray: 700, 700;
  stroke-dashoffset: 700;
  animation: out-anim 5s 1s infinite;
}

.in {
  fill:#393939;
  stroke: chartreuse;
  stroke-dasharray: 700, 700;
  stroke-dashoffset: 700;
  animation: in-anim 5s 1s infinite;
  z-index: 5;
}

@keyframes out-anim {
  0% {
    fill: #393939;
  }
  50% {
    fill: green;
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    fill: #393939;
  }
}

@keyframes in-anim {
  25% {
    stroke-dashoffset: 0;
  }
}



