.list { 
    max-width: 98%;
    margin: 0 auto;
}

.list span {
    cursor: pointer; 
    cursor: hand;
}

img, .info {
    margin: 0 0 -4px 0;
} 

.user {
    display: inline-block;
    position: relative;
}

.info {
    position: absolute;
    height: 300px;
    width: 300px;
    color: LawnGreen;
    font-size: 2.25vh;
    font-weight: bold;
    word-wrap: break-word;
    left: -100px;
    z-index: 5;
    background:rgba(0,128,0,0.6);
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    background: #fff;
    background-image: -webkit-linear-gradient(top, #fff, #ccc);
    background-image: -moz-linear-gradient(top, #fff, #ccc);
    background-image: -ms-linear-gradient(top, #fff, #ccc);
    background-image: -o-linear-gradient(top, #fff, #ccc);
    background-image: linear-gradient(to bottom, #fff, #ccc);
    -webkit-border-radius: 5;
    -moz-border-radius: 5;
    border-radius: 5px;
    color: #008000;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
    text-decoration: none;
    width: 100%;
}
button:hover {
    background: #ddd;
    background-image: -webkit-linear-gradient(top, #ddd, #eee);
    background-image: -moz-linear-gradient(top, #ddd, #eee);
    background-image: -ms-linear-gradient(top, #ddd, #eee);
    background-image: -o-linear-gradient(top, #ddd, #eee);
    background-image: linear-gradient(to bottom, #ddd, #eee);
    text-decoration: none;
    cursor: pointer; cursor: hand;
}
