a {
    color: #ccc;
    text-decoration: none;
}

h2, h3 {
    margin: 0;
    padding: 0;
}

h2 a {
    color: white;
}

h2 {
    color: white;
    font-size: 2.4em;
    font-weight: bold;
}

h3 li {
    color: #ccc;
}

h3 li a {
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}

.gold, a:hover {
    color: gold;
}

.user {
    display: inline-block;
    position: relative;
}

.top-info1 {
    position: absolute;
    height: 125px;
    width: 125px;
    left: -125px;
    background:rgba(15, 23, 39, 0.8);
}
.top-info2 {
    position: absolute;
    height: 125px;
    width: 125px;
    left: 125px;
    background:rgba(15, 23, 39, 0.8);
    z-index: 9;
}
.info {
    position: absolute;
    height: 355px;
    width: 370px;
    color: LawnGreen;
    font-size: 2.1vh;
    font-weight: bold;
    word-wrap: break-word;
    left: -125px;
    top: 124px;
    z-index: 5;
    padding: 10px 2px;
    background:rgba(0,28,50,0.6);
}

ul {
    list-style-type: none;
    padding: 0;
}

.position {
    border: 2px solid gold;
    border-radius: 5px;
    padding: 5px 10px;
    color: gold;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
